.portfolio-item .portfolio-image,
.portfolio-item .portfolio-image>a,
.portfolio-item .portfolio-image img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.bg-overlay,
.bg-overlay-bg,
.bg-overlay-content {
    width: 400px;
    height: 200px;
}

.bg-overlay {
    z-index: 0;
}
